// Backgrounds
$color_light_background: #E4E2E4;
$color_dark_background: #1D1A1D;

// Light theme
$color_light_primary: #DBCE9F;
$color_light_primary-highlight: #C1B538;
$color_light_primary-lowlight: #B0A67D;
$color_light_accent: #3B2F38;

// Dark theme
$color_dark_primary: #605324;
$color_dark_primary-highlight: #C7BB3D;
$color_dark_primary-lowlight: #82784F;
$color_dark_accent: #CFC4CC;